/* Pages */
body {
    background-color: rgb(42, 42, 42);
}

.child-page {
    background-color: rgb(44, 44, 44);
    height: 100%;
}

#page {
    /* height: 100vh; */
    /* width: auto;  */
}

#page content h3, .sections{
    color: white;
}


/* classes */

a[target="_blank"]::after {
    /* content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==); */
    /* content: "  🔗" */
    /* content: "  🗗" */
    /* content: "  ❐" */
    content: "  ⧉"
}

hr {
    color: rgb(0, 0, 0);   
}

.tcenter {
    text-align: center;
}

.dcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: fit-content;
}

.line-break {
    width: 100%;
}

todo {
    color: red;
    font-size: small;
}

/* header */
nav {

}
/* content */
content {

}

.goals {
    background-color: rgb(197, 197, 197);
}

.pCards {
    background-color: rgb(187, 224, 226);
}

/* footer */
footer {
    color: white;
}