* {
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
}

navbar {
    background-color: gray;
}

#body-left {
    background-color: blue;
}

#body-right {
    background-color: blue;
}

#footer {
    /* position: static; */
    width: 100%;
    /* padding: 0px; */
    
    
    /* bottom: 0px; */
    /* left: 0px; */
    /* right: 0px; */

}
/* 
.card {
    width: 300px !important;
} */

.body-card {
    margin: 10px;
}